html {
    background-color: rgb(50, 51, 52);
}

body {
    margin: 0px;
    min-height: 100dvh; 
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: black;
    padding: 50px 0px;
}
footer {
    flex: 1;

    width: 100%;
    background-color: black;
    padding: 50px 0px 25px 0px;
}

header > div, footer > div {
    width: 60%;
    margin: auto;
}

main {
    width: 60%;
    margin: 50px auto;
}


/* GENERIC ELTS =================================== */

h1 {
    color: white;
    font-family: Overpass;
    font-weight: bold;
    margin: 0px;
}
p {
    color: white;
    margin: 6px 0px 0px 0px;
    font-family: Overpass;
    font-size: 1.3rem;
    line-height: 1.6rem;

    overflow-wrap: anywhere; 
}
input {
    border: solid black 2px;
    padding: 3px 5px 0px 5px;
    font-family: Overpass;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
button {
    border: solid transparent 2px;
    border-radius: 0px;
    border: solid rgba(255, 255, 255, 0.3) 3px;
    background-color: rgba(0, 0, 0, 0.2);

    transition: all .2s ease-in-out;
}
button:hover {
    border: solid rgb(255, 255, 255) 3px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ASSIGNED ELTS =================================== */

.listDiv {
    display: grid; 
    grid-template-columns: max-content auto; 
    gap: 0px 10px;
}

#formGrid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 10px 50px;
    width: 45vw;
    min-width: 700px;
}

.mangaList {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}
.mangaList img {
    width: 150px;
    height: min-content;
}
.mangaList button {
    padding: 20px;
    overflow: hidden;
}
.mangaList p {
    text-align: start;
    /* border: solid red 2px; */
}

.mangaInfo {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    width: 100%;
    max-height: 300px;
    /* overflow-x: auto */
}

.chapterList {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.chapterList > button {
    display: grid;
    grid-template-columns: 1fr 2fr 12fr;
    justify-content: end;
}
.chapterList p {
    text-align: start;
    min-width: 100px;
}
