body {
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
h1 {
    font-family: Overpass;
    font-weight: bold;
}
p {
    margin: 6px 0px 0px 0px;
    font-family: Overpass;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
p.small {
    margin-top: 9px;
    font-size: 1.2rem; 
    line-height: 1.4rem;
}
input {
    border: solid black 2px;
    padding: 3px 5px 0px 5px;
    font-family: Overpass;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
#formGrid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 10px 50px;
    width: 45vw;
    min-width: 700px;
}

.mangaList {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
.mangaList img {
    width: 200px;
}

.chapterList {
    display: flex;
    flex-direction: column;
}
.chapterList > button {
    display: grid;
    grid-template-columns: 1fr 2fr 12fr;
    justify-content: end;
}
.chapterList p {
    text-align: start;
    min-width: 100px;
}
